.highlight-cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: min-content;
  align-content: center;
  gap: 16px;
}

.highlight-cards__extra-content {
  padding: 0 16px 16px 16px;
}

@media (min-width: 640px) {
  .highlight-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .highlight-cards {
    flex: 1 0 50%;
  }
}
